# Bot Configuration
BOT_TOKEN=8730553099:AAEjEOQqyzdXNn4AaNa0CqKrBDUK1u6pCdU

# Telegram API credentials (get from https://my.telegram.org)
API_ID=35071047
API_HASH=78e042526805c475fc60c2c334542a0f

# Bypasser Bot Configuration
BYPASSER_BOT_USERNAME=Nick_Bypass_Bot

# Session Configuration
SESSION_NAME=user_session
